@font-face {
  font-family: "iconfont"; /* Project id 2914244 */
  src: url('iconfont.woff2?t=1658667709230') format('woff2'),
       url('iconfont.woff?t=1658667709230') format('woff'),
       url('iconfont.ttf?t=1658667709230') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aliyun:before {
  content: "\ee48";
}

.icon-xinlangweibo:before {
  content: "\e602";
}
.weibo_icon{
  /* 修改颜色 */
  color: #d52c2b;
  /* 修改大小 */
  font-size: 20px;
}

.icon-step_count:before {
  content: "\e60f";
}

.icon-zuozhe:before {
  content: "\e610";
}

.icon-xiaoheiban:before {
  content: "\e606";
}

.icon-language-csharp:before {
  content: "\e7c8";
}
.Csharp_icon{
  /* 修改大小 */
  font-size: 20px;
}

.icon-python:before {
  content: "\f216";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-biaoqingbao:before {
  content: "\e61c";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-bijiben:before {
  content: "\e605";
}

.icon-baibaoxiang:before {
  content: "\e6f3";
}

.icon-csdn1:before {
  content: "\e600";
}
.csdn_icon{
  /* 修改颜色 */
  color: #d81e06;
  /* 修改大小 */
  font-size: 20px;
}

.icon-foxi:before {
  content: "\e681";
}
.foxi_icon{
  /* 修改颜色 */
  color: #eea24c;
  /* 修改大小 */
  font-size: 20px;
}

.icon-bilibili:before {
  content: "\e609";
}
.bilibili_icon{
  /* 修改颜色 */
  color: #00adeb;
  /* 修改大小 */
  font-size: 20px;
}
